venv/
build/
*.charm
.tox/
.coverage
__pycache__/
*.py[cod]
.idea
.vscode
.mypy_cache
*.egg-info/
*/*.rock

**/terraform.tfstate
**/terraform.tfstate.backup
**/.terraform
**/.terraform.lock.hcl
**/.terraform.lock.hcl.backup