# Copyright 2024 Canonical Ltd.
# See LICENSE file for licensing details.
# This file configures Charmcraft.
# See https://juju.is/docs/sdk/charmcraft-config for guidance.

name: k8s
title: Kubernetes
summary: A machine charm for K8s
description: |-
  A machine charm which operates a complete Kubernetes cluster.

  This charm installs and operates a Kubernetes cluster via the k8s snap. It exposes
  relations to co-operate with other kubernetes components such as optional CNIs,
  optional cloud-providers, optional schedulers, external backing stores, and external
  certificate storage.

  This charm provides the following running components:
  * kube-apiserver
  * kube-scheduler
  * kube-controller-manager
  * kube-proxy
  * kubelet
  * containerd

  This charm can optionally disable the following components:
  * A Kubernetes Backing Store
  * A Kubernetes CNI
links:
  contact: https://launchpad.net/~containers
  documentation: https://discourse.charmhub.io/t/k8s-docs-index/13134
  issues:
  - https://github.com/canonical/k8s-operator/issues
  source:
    - https://github.com/canonical/k8s-operator

assumes:
  - juju >= 3.1

type: charm
bases:
  - build-on:
    - name: ubuntu
      channel: "20.04"
      architectures: [amd64]
    run-on:
    - name: ubuntu
      channel: "20.04"
      architectures: [amd64]
    - name: ubuntu
      channel: "22.04"
      architectures: [amd64]
config:
  options:
    channel:
      default: edge
      type: string
      description: Snap channel of the k8s snap
parts:
  charm:
    build-packages: [git]

peers:
  cluster:
    interface: cluster

provides:
  k8s-cluster:
    interface: k8s-cluster

requires:
  dns-provider:
    interface: kube-dns
    limit: 1