# Copyright 2025 Canonical Ltd.
# See LICENSE file for licensing details.
# This file configures Charmcraft.
# See https://juju.is/docs/sdk/charmcraft-config for guidance.

name: k8s
title: Kubernetes
summary: A machine charm for K8s
description: |-
  A machine charm which operates a complete Kubernetes cluster.

  This charm installs and operates a Kubernetes cluster via the k8s snap. It exposes
  relations to co-operate with other kubernetes components such as optional CNIs,
  optional cloud-providers, optional schedulers, external backing stores, and external
  certificate storage.

  This charm provides the following running components:
  * kube-apiserver
  * kube-scheduler
  * kube-controller-manager
  * kube-proxy
  * kubelet
  * containerd

  This charm can optionally disable the following components:
  * A Kubernetes Backing Store
  * A Kubernetes CNI
links:
  contact: https://launchpad.net/~containers
  documentation: https://discourse.charmhub.io/t/k8s-docs-index/13134
  issues:
  - https://github.com/canonical/k8s-operator/issues
  source:
    - https://github.com/canonical/k8s-operator

assumes:
  - juju >= 3.3

type: charm
platforms:
  ubuntu-20.04-amd64:
    build-on:
      - ubuntu@20.04:amd64
    build-for:
      - ubuntu@20.04:amd64
  ubuntu-20.04-arm64:
    build-on:
      - ubuntu@20.04:arm64
    build-for:
      - ubuntu@20.04:arm64

  ubuntu-22.04-amd64:
    build-on:
      - ubuntu@22.04:amd64
    build-for:
      - ubuntu@22.04:amd64
  ubuntu-22.04-arm64:
    build-on:
      - ubuntu@22.04:arm64
    build-for:
      - ubuntu@22.04:arm64

  ubuntu-24.04-amd64:
    build-on:
      - ubuntu@24.04:amd64
    build-for:
      - ubuntu@24.04:amd64
  ubuntu-24.04-arm64:
    build-on:
      - ubuntu@24.04:arm64
    build-for:
      - ubuntu@24.04:arm64
config:
  options:
    cluster-annotations:
      type: string
      default: ""
      description: |
        Space-separated list of (key/value) pairs) that can be
        used to add arbitrary metadata configuration to the Canonical
        Kubernetes cluster. For more information, see the upstream Canonical
        Kubernetes documentation about annotations:

        https://documentation.ubuntu.com/canonical-kubernetes/latest/src/snap/reference/annotations/

        Example:
          e.g.: key1=value1 key2=value2
    bootstrap-datastore:
      default: auto
      type: string
      description: |
        The datastore to use in Canonical Kubernetes.
        This can only be reset after deployment.
        Allowed values are auto, managed-etcd, dqlite and etcd.
        If "etcd" is chosen, the charm should be integrated with the etcd charm.
    bootstrap-node-taints:
      type: string
      default: ""
      description: |
        Space-separated list of taints to apply to this node at registration time.

        This config is only used at bootstrap time when Kubelet first registers the
        node with Kubernetes. To change node taints after deploy time, use kubectl
        instead.

        For more information, see the upstream Kubernetes documentation about
        taints:
        https://kubernetes.io/docs/concepts/scheduling-eviction/taint-and-toleration/
    bootstrap-pod-cidr:
      type: string
      default: "10.1.0.0/16"
      description: |
        Comma-separated CIDR blocks for IP addresses that can be assigned
        to pods within the cluster. Can contain at most 2 blocks, one for IPv4
        and one for IPv6. If the value is "auto", the snap will automatically
        assign a CIDR block for the pods.

        After deployment it is not possible to change the size of
        the IP range.

        Examples:
          - "192.0.2.0/24"
          - "2001:db8::/32"
          - "192.0.2.0/24,2001:db8::/32"
          - "2001:db8::/32,192.0.2.0/24"
    bootstrap-service-cidr:
      type: string
      default: 10.152.183.0/24
      description: |
        Comma-separated CIDR blocks for IP addresses that can be assigned
        to services within the cluster. Can contain at most 2 blocks, one for IPv4
        and one for IPv6. If the value is "auto", the snap will automatically
        assign a CIDR block for the services.

        After deployment it is not possible to change the size of
        the IP range.

        Examples:
          - "192.0.2.0/24"
          - "2001:db8::/32"
          - "192.0.2.0/24,2001:db8::/32"
          - "2001:db8::/32,192.0.2.0/24"
    containerd-custom-registries:
      type: string
      default: "[]"
      description: |
        Registry endpoints and credentials. Setting this config allows containerd
        to pull images from registries where auth is required.

        The value for this config must be a JSON array of credential objects, like this:
          e.g.: [{"url": "https://registry.example.com", "host": "my.registry:port", "username": "user", "password": "pass"}]

        Credential Object Parameters:
        url: REQUIRED str
          the URL to the registry, include the port if not it isn't implied from the schema.
            e.g: "url": "https://my.registry:8443"
            e.g: "url": "http://my.registry"

        host: OPTIONAL str - defaults to auto-generated from the url
          could be registry host address or a name
            e.g.: myregistry.io:9000, 10.10.10.10:5432
            e.g.: myregistry.io, myregistry
          Note: It will be derived from `url` if not provided.
            e.g.: "url": "http://10.10.10.10:8000" --> "host": "10.10.10.10:8000"

        username: OPTIONAL str - default ''
        password: OPTIONAL str - default ''
        identitytoken: OPTIONAL str - default ''
          Used by containerd for basic authentication to the registry.

        ca_file: OPTIONAL str - default ''
        cert_file: OPTIONAL str - default ''
        key_file: OPTIONAL str - default ''
          For ssl/tls communication these should be a base64 encoded file
          e.g.:  "ca_file": "'"$(base64 -w 0 < my.custom.registry.pem)"'"

        skip_verify: OPTIONAL bool - default false
          For situations where the registry has self-signed or expired certs and a quick work-around is necessary.
          e.g.: "skip_verify": true

        Example config:
        juju config k8s containerd_custom_registries='[{
            "url": "https://registry.example.com",
            "host": "ghcr.io",
            "ca_file": "'"$(base64 -w 0 < ~/my.custom.ca.pem)"'",
            "cert_file": "'"$(base64 -w 0 < ~/my.custom.cert.pem)"'",
            "key_file": "'"$(base64 -w 0 < ~/my.custom.key.pem)"'",
        }]'
    dns-enabled:
      type: boolean
      default: true
      description: |
        Enable/Disable the DNS feature on the cluster.
    dns-cluster-domain:
      type: string
      default: "cluster.local"
      description: |
        Sets the local domain of the cluster
    dns-service-ip:
      type: string
      default: ""
      description: |
        Sets the IP address of the dns service. If omitted defaults to the IP address
        of the Kubernetes service created by the feature.

        Can be used to point to an external dns server when feature is disabled.
    dns-upstream-nameservers:
      type: string
      default: ""
      description: |
        Space-separated list of upstream nameservers used to forward queries for out-of-cluster
        endpoints.

        If omitted defaults to `/etc/resolv.conf` and uses the nameservers on each node.
    gateway-enabled:
      type: boolean
      default: false
      description: |
        Enable/Disable the gateway feature on the cluster.
    kube-apiserver-extra-args:
      type: string
      default: ""
      description: |
        Space separated list of flags and key=value pairs that will be passed as arguments to
        kube-apiserver.

        Notes:
          Options may only be set on charm deployment

        For example a value like this:
          runtime-config=batch/v2alpha1=true profiling=true
        will result in kube-apiserver being run with the following options:
          --runtime-config=batch/v2alpha1=true --profiling=true
    kube-apiserver-extra-sans:
      type: string
      default: ""
      description: |
        Space separated list of extra Subject Alternative Names for the kube-apiserver
        self-signed certificates.

        Examples:
          - "kubernetes"
          - "kubernetes.default.svc"
          - "kubernetes.default.svc.cluster.local"
    kube-controller-manager-extra-args:
      type: string
      default: ""
      description: |
        Space separated list of flags and key=value pairs that will be passed as arguments to
        kube-controller-manager.

        Notes:
          Options may only be set on charm deployment
          cluster-name: cannot be overridden

        For example a value like this:
          runtime-config=batch/v2alpha1=true profiling=true
        will result in kube-controller-manager being run with the following options:
          --runtime-config=batch/v2alpha1=true --profiling=true
    kube-proxy-extra-args:
      type: string
      default: ""
      description: |
        Space separated list of flags and key=value pairs that will be passed as arguments to
        kube-proxy.

        Notes:
          Options may only be set on charm deployment

        For example a value like this:
          runtime-config=batch/v2alpha1=true profiling=true
        will result in kube-proxy being run with the following options:
          --runtime-config=batch/v2alpha1=true --profiling=true
    datastore-extra-args:
      type: string
      default: ""
      description: |
        Space separated list of flags and key=value pairs that will be passed as arguments to
        datastore if managed-etcd or dqlite is set as datastore.

        Notes:
          Options may only be set on charm deployment

        For example a value like this:
          --heartbeat-interval=100 listen-peer-urls=http://10.0.0.1:2380
        will result in kube-controller-manager being run with the following options:
          --heartbeat-interval=100 --listen-peer-urls=http://10.0.0.1:2380
    kube-scheduler-extra-args:
      type: string
      default: ""
      description: |
        Space separated list of flags and key=value pairs that will be passed as arguments to
        kube-scheduler.

        Notes:
          Options may only be set on charm deployment

        For example a value like this:
          runtime-config=batch/v2alpha1=true profiling=true
        will result in kube-scheduler being run with the following options:
          --runtime-config=batch/v2alpha1=true --profiling=true
    kubelet-extra-args:
      type: string
      default: ""
      description: |
        Space separated list of flags and key=value pairs that will be passed as arguments to
        kubelet.

        Notes:
          Options may only be set on charm deployment

        For example a value like this:
          runtime-config=batch/v2alpha1=true profiling=true
        will result in kubelet being run with the following options:
          --runtime-config=batch/v2alpha1=true --profiling=true
    load-balancer-enabled:
      type: boolean
      default: false
      description: |
        Enable/Disable the load balancer feature on the cluster.
    load-balancer-cidrs:
      type: string
      default: ""
      description: |
        Space-separated list of CIDRs to use for the load balancer. This is
        only used if load-balancer-enabled is set to true.
    load-balancer-l2-mode:
      type: boolean
      default: false
      description: |
        Enable/Disable L2 mode for the load balancer. This is only used if
        load-balancer-enabled is set to true.
    load-balancer-l2-interfaces:
      type: string
      default: ""
      description: |
        Space-separated list of interfaces to use for the load balancer. This
        is only used if load-balancer-l2-mode is set to true. if unset, all
        interfaces will be used.
    load-balancer-bgp-mode:
      type: boolean
      default: false
      description: |
        Enable/Disable BGP mode for the load balancer. This is only used if
        load-balancer-enabled is set to true.
    load-balancer-bgp-local-asn:
      type: int
      default: 64512
      description: |
        Local ASN for the load balancer. This is only used if load-balancer-bgp-mode
        is set to true.
    load-balancer-bgp-peer-address:
      type: string
      default: ""
      description: |
        Address of the BGP peer for the load balancer. This is only used if
        load-balancer-bgp-mode is set to true.
    load-balancer-bgp-peer-port:
      type: int
      default: 179
      description: |
        Port of the BGP peer for the load balancer. This is only used if
        load-balancer-bgp-mode is set to true.
    local-storage-enabled:
      type: boolean
      default: true
      description: |
        Enable local storage provisioning. This will create a storage class
        named "local-storage" that uses the hostPath provisioner. This is
        useful for development and testing purposes. It is not recommended for
        production use.
    local-storage-local-path:
      type: string
      default: "/var/snap/k8s/common/rawfile-storage"
      description: |
        The path on the host where local storage will be provisioned. This
        path must be writable by the kubelet. This is only used if
        local-storage.enabled is set to true.
    local-storage-reclaim-policy:
      type: string
      default: Delete
      description: |
        The reclaim policy for local storage. This can be either "Delete" or
        "Retain". If set to "Delete", the storage will be deleted when the
        PersistentVolumeClaim is deleted. If set to "Retain", the storage will
        be retained when the PersistentVolumeClaim is deleted.
    metrics-server-enabled:
      type: boolean
      default: true
      description: |
        Enable/Disable the metrics-server feature on the cluster.
    network-enabled:
      type: boolean
      default: true
      description: |
        Enables or disables the network feature.
    ingress-enabled:
      type: boolean
      default: false
      description: |
        Determines if the ingress feature should be enabled.
    ingress-enable-proxy-protocol:
      type: boolean
      default: false
      description: |
        Determines if the proxy protocol should be enabled for ingresses.
    node-labels:
      default: ""
      type: string
      description: |
        Labels can be used to organize and to select subsets of nodes in the
        cluster. Declare node labels in key=value format, separated by spaces.
    unready-pod-namespaces:
      type: string
      default: "kube-system metallb-system"
      description: |
        Space-separated list of namespaces to check for unready pods. This
        is used to determine the status of the cluster and its components.
        If not set, no namespaces will be checked.

resources:
  snap-installation:
    type: file
    filename: snap-installation.tar.gz
    description: |
      Override charm defined snap installation script

      This charm is designed to operate with a specific revision of snaps, overriding
      with anything will indicate that the charm is running an unsupported configuration.

      Content Options:
      0-byte resource (Default) -- Use the charm defined snap installation script
      ./snap-installation.yaml  -- Overrides the charm defined snap-installation.yaml
      ./k8s_XXXX.snap           -- Overrides the charm with a specific snap file installed dangerously

actions:
  get-kubeconfig:
    description: Retrieve Public Kubernetes cluster config, including credentials
    params:
      server:
        description: Override the server endpoint with this field
        type: string
  pre-upgrade-check:
    description: Run necessary pre-upgrade checks before executing a charm upgrade.

parts:
  charm:
    source: .
    plugin: uv
    build-packages:
      - git
      - libffi-dev
      - libssl-dev
      - pkg-config
    build-snaps:
      - astral-uv
      - rustup
    override-build: |
      rustup default stable
      craftctl default
  templates:
    plugin: dump
    source: templates/
    organize:
      "*": templates/

peers:
  cluster:
    interface: k8s-cluster
  cos-tokens:
    interface: cos-k8s-tokens
  upgrade:
    interface: upgrade

provides:
  cos-agent:
    interface: cos_agent
  cos-worker-tokens:
    interface: cos-k8s-tokens
  containerd:
    interface: containerd
  ceph-k8s-info:
    interface: kubernetes-info
  k8s-cluster:
    interface: k8s-cluster
  kube-control:
    interface: kube-control

requires:
  aws:
    interface: aws-integration
  azure:
    interface: azure-integration
  etcd:
    interface: etcd
    limit: 1
  external-cloud-provider:
    interface: external_cloud_provider
  gcp:
    interface: gcp-integration
  external-load-balancer:
    interface: loadbalancer
