name: Auto-update Snap Revisions

on:
  schedule:
    - cron: "0 */4 * * *" # every 4 hours
  pull_request:
    paths:
      - .github/workflows/auto-update-snap-revision.yaml

jobs:
  stable-branches:
    runs-on: ubuntu-latest
    outputs:
      branches: ${{ steps.release-branches.outputs.data }}
    steps:
    - uses: octokit/request-action@v2.x
      id: list-branches
      with:
        route: GET /repos/${{ github.repository }}/branches
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    - id: release-branches
      run: |-
        DATA='${{ steps.list-branches.outputs.data }}'
        NAMES=$(jq -r '.[] | .name' <<< $DATA)
        RELEASES=()
        for BRANCH in ${NAMES}; do
            if [[ "${BRANCH}" =~ ^release-[0-9]+\.[0-9]+$ ]]; then
                RELEASES+=($BRANCH)
            fi
        done
        echo data=$(printf '%s\n' "${RELEASES[@]}" | jq -R . | jq -s .) >> ${GITHUB_OUTPUT}

  update-branches:
    runs-on: ubuntu-latest
    needs: [stable-branches]
    strategy:
      matrix:
        branch: ${{ fromJSON(needs.stable-branches.outputs.branches) }}
    steps:
    - name: Prepare Track
      run: |-
        BRANCH="${{matrix.branch}}"
        echo "TRACK=${BRANCH:8}" | tee -a "$GITHUB_ENV"

    - name: Checkout ${{ matrix.branch }}
      uses: actions/checkout@v5
      with:
        ref: ${{ matrix.branch }}
        token: ${{ secrets.REPO_ACCESS_TOKEN }}

    - name: Set up Python
      uses: actions/setup-python@v6
      with:
        python-version: '3.12'

    - run: "pip install pyyaml"
    - name: Update amd64 Revision
      id: update-amd64-revision
      run: |
        python3 .github/workflows/update-snap-revision.py amd64

    - name: Update arm64 Revision
      id: update-arm64-revision
      run: |
        python3 .github/workflows/update-snap-revision.py arm64

    - name: Assemble Revisions
      id: assemble-revisions
      run: |
        AMD64_REVISION=${{ steps.update-amd64-revision.outputs.result }}
        ARM64_REVISION=${{ steps.update-arm64-revision.outputs.result }}
        REVISIONS=()
        if [[ -n $AMD64_REVISION ]]; then
            REVISIONS+=("amd64-${AMD64_REVISION}")
        fi
        if [[ -n $ARM64_REVISION ]]; then
            REVISIONS+=("arm64-${ARM64_REVISION}")
        fi
        if [[ ${#REVISIONS[@]} -eq 0 ]]; then
          echo 'revisions=[]' >> ${GITHUB_OUTPUT}
        else
          echo "revisions=$(printf '%s\n' "${REVISIONS[@]}" | jq -R . | jq -s -c .)" >> ${GITHUB_OUTPUT}
        fi

    - name: Report Pull Request
      if: ${{ github.event_name != 'schedule' && steps.assemble-revisions.outputs.revisions != '[]' }}
      run: |
        echo "Would have created pull-request"
        echo '[Release ${{ env.TRACK }}] Update K8s revisions ${{steps.assemble-revisions.outputs.revisions}}'

    - name: Setup Bot User
      if: ${{ github.event_name == 'schedule' }}
      run: |
        git config user.name  "Canonical Github Bot"
        git config user.email "actions@canonical.com"

    - name: Create pull request
      uses: peter-evans/create-pull-request@v7
      if: ${{ github.event_name == 'schedule' && (steps.assemble-revisions.outputs.revisions != '[]') }}
      with:
        commit-message: '[Release ${{ env.TRACK }}] Update K8s revisions ${{steps.assemble-revisions.outputs.revisions}}'
        title: "[Release ${{ env.TRACK }}] Update K8s revisions ${{steps.assemble-revisions.outputs.revisions}}"
        body: |-
          Updates K8s revisions for ${{ env.TRACK }}
          * ${{ join(fromJson(steps.assemble-revisions.outputs.revisions), '\n *') }}
        labels: |
          automerge
        branch: revision-update-job/${{ env.TRACK }}/${{ join(fromJson(steps.assemble-revisions.outputs.Revisions), '-') }}
        base: ${{ matrix.branch }}
        token: ${{ secrets.REPO_ACCESS_TOKEN }}
        add-paths: |
          charms/worker/k8s/templates/*.yaml
