name: Auto-merge K8s charm PRs

on:
  schedule:
    - cron: "0 * * * *"  # every hour
  pull_request:
    paths:
      - .github/workflows/auto-merge-prs.yaml

jobs:
  auto-merge-successful-prs:
    name: Auto-merge K8s charm PRs
    uses: canonical/k8s-workflows/.github/workflows/auto-merge-successful-prs.yaml@232faf6d3ec5e32b0970e02bf3fe3d1f5c21b37f
    secrets: inherit
    with:
      approve-msg: "Approved for merge by 'auto-merge-prs' action"
      dry-run: ${{ github.event_name != 'schedule' }}  # only merge the action on schedule events
      bot-authors: "app/renovate"
      labels: "automerge"
      min-passing-checks: 5
      workflow-ref: "b43b74c79552a0c485ddb369639eb2ae97175fa7"
