name: Auto-update K8s charm libraries

on:
  schedule:
    - cron: "0 1 * * *"

jobs:
  charmcraft-channel:
    runs-on: ubuntu-24.04
    outputs:
      channel: ${{ steps.charmcraft.outputs.channel }}
    steps:
    - uses: actions/checkout@v4
    - id: charmcraft
      run: echo "channel=$(cat .charmcraft-channel)" >> $GITHUB_OUTPUT
  auto-update-libs:
    needs: [charmcraft-channel]
    uses: canonical/operator-workflows/.github/workflows/auto_update_charm_libs.yaml@1bbe0ad7a454ce50e5d966bc60d733fcc2c3f9d3
    secrets: inherit
    with:
      working-directory:  ./charms/worker/k8s
      charmcraft-channel: ${{ needs.charmcraft-channel.outputs.channel }}
