
name: Integration tests

on:
  pull_request:

jobs:
  extra-args:
    runs-on: ubuntu-latest
    outputs:
      args: ${{ steps.set-flags.args }}
    steps:
      - name: Determine extra args
        id: set-flags
        run: |
          EXTRA_ARGS="--crash-dump=on-failure"
          PR_TITLE="${{ github.event.pull_request.title }}"
          if [[ "$PR_TITLE" == *"[COS]"* ]]; then
            EXTRA_ARGS="$EXTRA_ARGS --cos"
          fi
          echo "args=$EXTRA_ARGS" >> "$GITHUB_OUTPUT"

  build-all-charms:
    needs: [extra-args]
    strategy:
      matrix:
        path:
          - "./charms/worker/k8s/"
          - "./charms/worker/"
    uses: ./.github/workflows/build-charm.yaml
    with:
      working-directory:  ${{ matrix.path }}

  integration-tests:
    uses: canonical/operator-workflows/.github/workflows/integration_test.yaml@main
    needs: [build-all-charms, extra-args]
    secrets: inherit
    with:
      provider: lxd
      juju-channel: 3.3/stable
      extra-arguments: ${{ needs.extra-args.outputs.args }}
      load-test-enabled: false
      zap-enabled: false
      trivy-fs-enabled: true
      trivy-image-config: "trivy.yaml"
      tmate-debug: true
