name: Integration tests

on:
  pull_request:

jobs:
  integration-tests:
    uses: addyess/operator-workflows/.github/workflows/integration_test.yaml@integration/multi-charm-artifacts
    secrets: inherit
    with:
      provider: lxd
      juju-channel: 3.1/stable
      chaos-enabled: false
      load-test-enabled: false
      zap-enabled: false
      trivy-fs-enabled: true
      trivy-image-config: "trivy.yaml"
