
name: Integration tests

on:
  pull_request:

jobs:
  extra-args:
    runs-on: ubuntu-latest
    outputs:
      args: ${{ steps.flags.outputs.args }}
    steps:
      - name: Determine extra args
        id: flags
        env:
          TITLE: ${{ github.event.pull_request.title }}
          JOB: ${{ github.job }}
          WORKFLOW: ${{ github.workflow }}
        run: |
          EXTRA_ARGS="--crash-dump=on-failure"
          if [[ "$TITLE" == *"[COS]"* ]]; then
            EXTRA_ARGS="$EXTRA_ARGS --cos"
          fi
          echo "args=$EXTRA_ARGS" >> "$GITHUB_OUTPUT"

  charmcraft-channel:
    runs-on: ubuntu-24.04
    outputs:
      channel: ${{ steps.charmcraft.outputs.channel }}
    steps:
    - uses: actions/checkout@v4
    - id: charmcraft
      run: echo "channel=$(cat .charmcraft-channel)" >> $GITHUB_OUTPUT

  integration-tests:
    uses: canonical/operator-workflows/.github/workflows/integration_test.yaml@1c44a5862e9954a1e41682c1630b622278cae90e
    needs: [charmcraft-channel, extra-args]
    secrets: inherit
    strategy:
      matrix:
        arch:
        - {id: amd64, builder-label: ubuntu-22.04, tester-arch: AMD64, tester-size: xlarge}  # built on azure, test on self-hosted
        - {id: arm64, builder-label: ARM64,        tester-arch: ARM64, tester-size: large }  # built and test on on self-hosted
        suite: [k8s, etcd, ceph, upgrade]
        exclude:
        - {arch: {id: arm64}, suite: ceph}
        - {arch: {id: arm64}, suite: upgrade}
    with:
      identifier: ${{ matrix.arch.id }}-${{ matrix.suite }}
      builder-runner-label: ${{ matrix.arch.builder-label }}
      charmcraft-channel: ${{ needs.charmcraft-channel.outputs.channel }}
      extra-arguments: >-
        ${{needs.extra-args.outputs.args}} -k test_${{ matrix.suite }}
        ${{ matrix.arch.id == 'arm64' && ' --lxd-containers --series=jammy' || '' }}
      juju-channel: 3/stable
      load-test-enabled: false
      provider: lxd
      self-hosted-runner: true
      self-hosted-runner-arch: ${{ matrix.arch.tester-arch }}
      self-hosted-runner-label: ${{ matrix.arch.tester-size }}
      test-timeout: 120
      test-tox-env: integration-${{ matrix.suite }}
      trivy-fs-enabled: false
      trivy-image-config: "trivy.yaml"
      tmate-debug: true
      zap-enabled: false
