name: Integration tests

on:
  pull_request:

jobs:
  extra-args:
    runs-on: ubuntu-latest
    outputs:
      args: ${{ steps.flags.outputs.args }}
    steps:
      - name: Determine extra args
        id: flags
        env:
          TITLE: ${{ github.event.pull_request.title }}
          JOB: ${{ github.job }}
          WORKFLOW: ${{ github.workflow }}
        run: |
          EXTRA_ARGS="--crash-dump=on-failure"
          if [[ "$TITLE" == *"[COS]"* ]]; then
            EXTRA_ARGS="$EXTRA_ARGS --cos"
          fi
          echo "args=$EXTRA_ARGS" >> "$GITHUB_OUTPUT"

  charmcraft-channel:
    runs-on: ubuntu-24.04
    outputs:
      channel: ${{ steps.charmcraft.outputs.channel }}
    steps:
      - uses: actions/checkout@v4
      - id: charmcraft
        run: echo "channel=$(cat .charmcraft-channel)" >> $GITHUB_OUTPUT

  integration-tests:
    uses: canonical/operator-workflows/.github/workflows/integration_test.yaml@56d52394219e4ba7b2f3b92883b0dbb66ce549f2
    needs: [charmcraft-channel, extra-args]
    secrets: inherit
    strategy:
      matrix:
        arch:
          # built on azure, test on self-hosted
          - id: amd64
            builder-label: ubuntu-22.04
            tester-arch: AMD64
            tester-size: xlarge
            modules: '["test_k8s", "test_etcd", "test_ceph", "test_upgrade", "test_external_certs", "test_registry"]'
          # built and test on on self-hosted
          - id: arm64
            builder-label: ARM64
            tester-arch: ARM64
            tester-size: large
            modules: '["test_k8s", "test_etcd"]'
    with:
      identifier: ${{ matrix.arch.id }}
      builder-runner-label: ${{ matrix.arch.builder-label }}
      charmcraft-channel: ${{ needs.charmcraft-channel.outputs.channel }}
      extra-arguments: >-
        ${{needs.extra-args.outputs.args}}
        ${{ matrix.arch.id == 'arm64' && ' --lxd-containers --series=jammy' || '' }}
      modules: ${{ matrix.arch.modules }}
      juju-channel: 3/stable
      load-test-enabled: false
      provider: lxd
      self-hosted-runner: true
      self-hosted-runner-arch: ${{ matrix.arch.tester-arch }}
      self-hosted-runner-label: ${{ matrix.arch.tester-size }}
      test-timeout: 600
      test-tox-env: integration
      trivy-fs-enabled: false
      trivy-image-config: "trivy.yaml"
      tmate-debug: true
      zap-enabled: false
