name: Load tests

on:
  schedule:
    - cron: "0 12 * * 0"

jobs:
  charmcraft-channel:
    runs-on: ubuntu-24.04
    outputs:
      channel: ${{ steps.charmcraft.outputs.channel }}
    steps:
    - uses: actions/checkout@v4
    - id: charmcraft
      run: echo "channel=$(cat .charmcraft-channel)" >> $GITHUB_OUTPUT

  load-tests:
    uses: canonical/operator-workflows/.github/workflows/integration_test.yaml@a1954613d81c99550a6c837e2abb03c9bc3a94c7
    needs: [charmcraft-channel]
    secrets: inherit
    with:
      provider: lxd
      charmcraft-channel: ${{ needs.charmcraft-channel.outputs.channel }}
      juju-channel: 3/stable
      load-test-enabled: true
      load-test-run-args: "-e LOAD_TEST_HOST=localhost"
