name: Nightly Tests

on:
  schedule:
    - cron: "0 0 * * *" # Runs every midnight
  pull_request:
    paths:
      - .github/workflows/nightly.yaml

permissions:
  contents: read

jobs:
  integration-tests-terraform:
    strategy:
      matrix:
        test:
        - name: test_k8s
          manifest-yaml: default-manifest.yaml
        - name: test_ceph
          manifest-yaml: ceph-manifest.yaml
    name: integration-tests-terraform-${{ matrix.test.name }}
    runs-on: self-hosted-linux-amd64-jammy-xlarge
    env:
      TF_VAR_model: my-canonical-k8s
      TF_VAR_csi_integration: ${{ matrix.test.name == 'test_ceph' && '["ceph"]' || '[]'}}
    steps:
    - name: Setup Astral UV
      uses: astral-sh/setup-uv@v7.1.6
    - name: Install tox with UV
      run: uv tool install tox --with tox-uv
    - name: Setup operator environment
      uses: charmed-kubernetes/actions-operator@main
      with:
        provider: lxd
        channel: latest/stable
        juju-channel: 3/stable
    - name: Checking out repo
      uses: actions/checkout@v6
    - name: Setup cluster with terraform
      timeout-minutes: 15
      run: |
        tox -e deploy-terraform -- --model ${{env.TF_VAR_model}} --manifest-yaml ${{ github.workspace }}/tests/integration/terraform/${{ matrix.test.manifest-yaml }}
    - name: Run integration tests
      run: |
        tox -e integration -- -s -k ${{ matrix.test.name }} --model ${{env.TF_VAR_model}} --no-deploy
    - name: Tmate debugging session (self-hosted)
      if: ${{ failure() && github.event_name == 'pull_request' }}
      uses: canonical/action-tmate@main
      timeout-minutes: 10
