name: Promote charms

on:
  workflow_dispatch:
    inputs:
      charm:
        type: choice
        description: 'Charm'
        options:
        - all
        - k8s
        - k8s-worker
      origin-risk:
        type: choice
        description: 'Origin Channel'
        options:
        - edge
        - beta
        - candidate
      destination-risk:
        type: choice
        description: 'Destination Channel'
        options:
        - beta
        - candidate
        - stable

jobs:
  configure-track:
    runs-on: ubuntu-latest
    outputs:
      track: ${{ steps.channel.outputs.track }}
    steps:
      - name: Determine Channel
        id: channel
        env:
          BRANCH: ${{ github.base_ref || github.ref }}
        run: |
          BRANCH=${BRANCH#refs/heads/}  # strip off refs/heads/ if it exists
          if [[ "${BRANCH}" == "main" ]]; then
            echo "track=latest" >> "$GITHUB_OUTPUT"
          elif [[ "${BRANCH}" =~ ^release-[0-9]+\.[0-9]+$ ]]; then
            echo "track=${BRANCH:8}" >> "$GITHUB_OUTPUT"
          else
            echo "::error Failed to determine track from branch ${BRANCH}"
            exit 1
          fi
          echo "Promote from $track/${{github.event.inputs.origin-risk}} to $track/${{github.event.inputs.destination-risk}}"
  select-charms:
    runs-on: ubuntu-latest
    outputs:
      charms: ${{ steps.charms.outputs.charms }}
    steps:
      - name: Determine Charms
        id: charms
        env:
          CHOICE: ${{ inputs.charm }}
        run: |
          echo "Determines which charms were chosen from $CHOICE"
          if [[ "${CHOICE}" == "all" ]]; then
            echo 'charms=[{"name": "k8s-worker", "path": "charms/worker"}, {"name": "k8s", "path": "charms/worker/k8s"}]' >> "$GITHUB_OUTPUT"
          elif [[ "${CHOICE}" == "k8s" ]]; then
            echo 'charms=[{"name": "k8s", "path": "charms/worker/k8s"}]' >> "$GITHUB_OUTPUT"
          else
            echo 'charms=[{"name": "k8s-worker", "path": "charms/worker"}]' >> "$GITHUB_OUTPUT"
          fi
  promote-charm:
    needs: [configure-track, select-charms]
    strategy:
      matrix:
        charm: ${{ fromJson(needs.select-charms.outputs.charms) }}
        arch:
        - amd64
        - arm64
    uses: canonical/operator-workflows/.github/workflows/promote_charm.yaml@81409b668682e5b66e1a714e582d9aac850a32e8
    with:
      base-architecture: ${{ matrix.arch }}
      charm-directory: ${{ matrix.charm.path }}
      destination-channel: ${{needs.configure-track.outputs.track}}/${{ inputs.destination-risk }}
      origin-channel: ${{needs.configure-track.outputs.track}}/${{ inputs.origin-risk }}
      tag-prefix: ${{ matrix.charm.name }}
    secrets: inherit
