name: Weekly Tests

on:
  schedule:
    - cron: "0 0 * * 6" # Runs every saturday at midnight
  pull_request:
    paths:
      - .github/workflows/weekly.yaml
permissions:
  contents: read
  actions: read

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  cncf:
    name: CNCF conformance test
    strategy:
      fail-fast: false
      matrix:
        os: ["noble", "jammy"]
        arch: ["amd64"]
    runs-on: ['self-hosted', 'linux', '${{ matrix.arch }}', '${{ matrix.os }}', 'xlarge']
    env:
      TF_VAR_model: my-canonical-k8s
    steps:
    - name: Setup Astral UV
      uses: astral-sh/setup-uv@v7.1.5
    - name: Install tox with UV
      run: uv tool install tox --with tox-uv
    - name: Setup operator environment
      uses: charmed-kubernetes/actions-operator@main
      with:
        provider: lxd
        channel: latest/stable
        juju-channel: 3/stable
    - name: Checking out repo
      uses: actions/checkout@v6
    - name: Install dependencies
      run: |
        sudo snap install juju-wait --classic
    - name: Setup cluster with terraform
      timeout-minutes: 15
      run: |
        tox -e deploy-terraform -- --model ${{env.TF_VAR_model}} --manifest-yaml ${{ github.workspace }}/tests/integration/terraform/default-manifest.yaml
    - name: Run CNCF conformance test
      run: |
        tox -e conformance
    - name: Upload CNCF conformance report artifact
      if: failure()
      uses: actions/upload-artifact@v5
      with:
        name: sonobuoy-e2e-${{ env.test_name }}
        path: tests/conformance/sonobuoy_e2e.tar.gz
    - name: Tmate debugging session (self-hosted)
      if: ${{ failure() && github.event_name == 'pull_request' }}
      uses: canonical/action-tmate@main
      timeout-minutes: 10
